@model SWZSR.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmień hasło";
}

<div class="col-12">
    <h2>@ViewData["Title"] <span class="green">do konta</span></h2>
    <form asp-action="ChangePassword" method="post">
        <div class="row">
            <div class="col-6">
                <input asp-for="Password" />
                <label asp-for="Password">Aktualne hasło</label>
                <p class="input-warning">@Html.ValidationMessageFor(o => o.Password)</p>
            </div>
            <div class="col-6">
                <input asp-for="NewPassword" />
                <label asp-for="NewPassword">Nowe hasło</label>
                <p class="input-warning">@Html.ValidationMessageFor(o => o.NewPassword)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input asp-for="ConfirmNewPassword" />
                <label asp-for="ConfirmNewPassword">Powtórz nowe hasło</label>
                <p class="input-warning">@Html.ValidationMessageFor(o => o.ConfirmNewPassword)</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-auto">
                <a asp-action="MyAccount" class="btn btn-light">Powrót</a>
            </div>
            <div class="col-auto">
                <input type="submit" value="Zapisz">
            </div>
        </div>
    </form>
</div>
